table {
  width: 100%;
  background-color: rgb(154, 205, 50);
  border-radius: 5px;

  font-family: monospace;
}
th {
  background-color: rgb(225, 0, 255);
}

tr:nth-child(odd) {

  color: rgb(154, 205, 50);
}

table:hover {
  background-color: rgb(164, 215, 60);
}
