<mat-card>
    <mat-card-content>
        <div><p>{{contact.name}}</p><mat-icon>callLog</mat-icon></div>
        <div><p>{{contact.surname}}</p><mat-icon>callLog</mat-icon></div>
        <div><p>{{contact.lastName}}</p><mat-icon>callLog</mat-icon></div>
        <div><p>{{contact.telephone}}</p><mat-icon>callLog</mat-icon></div>
        <div><p>{{contact.email}}</p><mat-icon>callLog</mat-icon></div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)=" goToUpdateContact()">Actualizar</button>
    </mat-card-actions>
</mat-card>

