<mat-card>
<mat-card-title>Editar contacto</mat-card-title>
<form (submit)="updateContact()">
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="contact.name"><br>


  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Apellido 1</mat-label>
    <input matInput type="text" name="surname" [(ngModel)]="contact.surname"><br>


  </mat-form-field>

<mat-form-field color="accent" appearance="outline">
  <mat-label>Apellido 2</mat-label>
  <input matInput type="text" name="lastName" [(ngModel)]="contact.lastName"><br>


</mat-form-field>

<mat-form-field color="accent" appearance="outline">
  <mat-label>Telefono</mat-label>
  <input matInput type="text" name="telephone" [(ngModel)]="contact.telephone"><br>


</mat-form-field>

<mat-form-field color="accent" appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput type="email" name="email" [(ngModel)]="contact.email"><br>


</mat-form-field>

<button mat-button color="accent" type="submit">Guardar cambios</button>




</form>

</mat-card>
